version: '2'
services:
  db:
    image: postgres
    environment:
      POSTGRES_PASSWORD: postgres
  web:
    build: .
    # working_dir: /code
    command: bash -c 'mix test 1>&1'
    # volumes:
    #   - .:/code
    ports:
      - "4000:4000"
    depends_on:
      - db
    links:
      - db
